
  #productListHeading {
    font: 400 2rem "Roboto";
    padding: 0.5vmax;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.637);
    transition: all 0.5s;
    margin: 2rem;
    text-align: center;
  }

  .labelRole{
    margin-right: 15px;
  }
  .selectCat{
    width: 150px;
  }
  .addCenterButton{
    /* color: red; */
    font-size: 20px;
  }

  .iconAdd{
    margin-right: 5px;
  }
  .addCenterButton:hover{
    color: red;
    font-size: 20px;
    transition: all 0.5s;
  }

  .userList a,
  .userList button {
    color: rgba(0, 0, 0, 0.527);
    transition: all 0.5s;
  }

  .userList .link:hover {
    color: tomato;
  }

  .userList button:hover {
    color: rgb(236, 30, 30);
  }

  #createProductFormFile > input {
    margin-left: 70px;
    display: flex;
    padding: 0%;
  }

  #createProductFormFile > input::file-selector-button {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 5vh;
    border: none;
    margin: 0%;
    font: 400 0.8vmax cursive;
    transition: all 0.5s;
    padding: 0 1vmax;
    color: rgba(0, 0, 0, 0.623);
    background-color: rgb(255, 255, 255);
  }

  #createProductFormFile > input::file-selector-button:hover {
    background-color: rgb(235, 235, 235);
  }

  #createProductFormImage {
    width: 100%;
    overflow: auto;
  }

  #createProductFormImage > img {
    width: 50%;
    margin: 0 0.5vmax;
  }

  #createProductFormFile > img {
    width: 8vmax;
    border-radius: 100%;
  }

  #createProductFormFile > input::file-selector-button {
    height: 7vh;
    font: 400 1.8vmax cursive;
  }
